.company-profile {
  width: 100%;
  background-color: black;
  color: white;
  padding: 2rem;
}

.company-profile h2 {
  text-align: center;
}

.company-profile h2 span {
  display: block;
  font-size: 1rem;
}

.company-profile__details-cont {
  padding: 1rem;
  font-size: 1rem;
}

dt {
  width: 15%;
}

dd {
  width: 84%;
}

@media only screen and (max-width: 768px) {
  .company-profile {
    padding: 1rem;
  }

  .company-profile__details-cont {
    font-size: 0.8rem;
    padding: 0;
  }

  .company-profile h2 span {
    font-size: 0.9rem;
  }

  dt {
    width: 20%;
  }

  dd {
    width: 80%;
  }
}

@media only screen and (max-width: 308px) {
  .company-profile__details-cont {
    font-size: 0.7rem;
  }
}
