.hero-img-wrapper {
  max-width: none;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
  overflow-y: hidden;
  transform-origin: bottom;
}

.app__main-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.54;
}

@media only screen and (max-width: 768px) {
  /* .hero-img-wrapper {
    max-height: 100vh;
  } */

  .app__main-img {
    height: 100%;
    object-fit: cover;
  }
}
