.page__hero-cont {
  width: 100%;
  padding: 0rem 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.pageHero-bg-all {
  width: 100%;
  max-height: 100vh;
  height: 100%;
  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.speech .pageHero-bg-all {
  background: url("../../../speech-hero-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

.marketing .pageHero-bg-all {
  background: url("../../../marketing-hero-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.page__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page__hero h3 {
  margin-bottom: 1rem;
}

.page__hero p {
  font-size: 1.8vw;
  letter-spacing: 4px;
  margin-bottom: 1.5rem;
}

.page__hero h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  line-height: 4rem;
}

.page__hero h1 span {
  display: block;
  margin-block: 1.5rem;
}
.pageHero__btn-cont {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn--pageHero-btn {
  padding: 0.8rem 0;
  font-size: 1.2rem;
  background: transparent;
  color: white;
  border: none;
}

.btn--pageHero-btn:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  .page__hero {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .page__hero-cont {
    text-align: center;
  }

  .page__hero {
    width: 100%;
    gap: 1rem;
  }

  .page__hero p,
  .page__hero h3 {
    font-size: 1.5rem;
  }

  .pageHero__btn-cont {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .page__hero p,
  .page__hero h3 {
    font-size: 1.3rem;
  }

  .page__hero h1 {
    font-size: 3rem;
    line-height: 2rem;
  }
}
