.hero {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
  padding-top: 90px;
}

.hero__subtitle {
  margin-block: 3rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.hero__title {
  font-size: 4.5vw;
}

.hero__btn-cont {
  width: 100%;
  text-align: right;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn--scroll {
  border: none;
  background-color: transparent;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 50%;
  background: linear-gradient(130deg, #970d03bf 50%, #083c5eba 20%);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.btn--scroll:hover {
  transform: scale(1.2);
}

.hero__description {
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
}

@media only screen and (min-width: 1400px) {
  .hero__description {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1002px) {
  .hero__subtitle {
    margin-block: 1.2rem;
  }
}

@media only screen and (max-width: 835px) {
  .hero__description {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 4.5vh;
  }

  .btn--scroll {
    font-size: 0.8rem;
  }

  .hero__description {
    width: 100%;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .hero {
    padding: 1rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    margin-top: 3rem;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 340px) {
  .hero {
    padding: 0.5rem;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .hero__description {
    line-height: 1rem;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  /* Styles for mobile phones in landscape orientation */
  .hero__subtitle {
    font-size: 0.8rem;
  }

  .hero__title {
    font-size: 1rem;
  }

  .hero__description {
    margin-top: 5rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}
