.guide {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.guide h2 {
  font-size: 3vw;
}

.guide__para {
  font-size: 1.2vw;
  margin-bottom: 1rem;
}

.guide .horizontal-line {
  width: 8%;
  margin: 0 auto;
  height: 5px;
  margin-bottom: 3rem;
}

.guide__main-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .guide__main-content {
    flex-direction: column;
  }

  .guide h2 {
    font-size: 2.7vh;
  }

  .guide__para {
    font-size: 1.5vh;
  }
  .guide-content {
    text-align: center;
  }

  .guide-content h3 {
    font-size: 2.2vh;
  }

  .guide-content-para {
    font-size: 1.8vh;
  }
}
