.page-inquiry {
  width: 100%;
  padding: 1rem 4rem;
}

.page-inquiry p {
  color: #444;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.page-inquiry .form {
  width: 100%;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .page-inquiry .form {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .page-inquiry {
    padding: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  .page-inquiry .form {
    padding: 1rem;
  }
}
