.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 2rem 2rem;
  gap: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
}

.header.header--not-home {
  background-color: white;
  color: black;
}

.header.header--fixed {
  position: fixed;
  z-index: 2;
  height: 90px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.header.header--fixed.active {
  color: white;
}

.logo__image {
  width: 65px;
  object-fit: cover;
  height: 100%;
}

.header .btn--menu-btn span {
  background-color: white;
}

.header.header--not-home .btn--menu-btn span,
.header.header--fixed .btn--menu-btn span {
  background-color: black;
}

.header.header--not-home.active .btn--menu-btn span,
.header.header--not-home.active,
.header.header--fixed.active .btn--menu-btn span {
  background-color: white;
  color: white;
}

.header.header--not-home .nav__links--special,
.header.active.header--not-home .nav__links--special {
  border: 3px solid transparent;
  border-image: linear-gradient(80deg, #970e03 0%, #083c5e 100%);
  border-image-slice: 1;
}

.header.header--fixed .nav__links,
.header.header.header--fixed .nav__links::before,
.header.header--not-home .nav__links,
.header.header--not-home .nav__links::before {
  color: black;
}

.header.header--fixed .nav__links--special {
  border: 1px solid black;
  border: 3px solid transparent;
  border-image: linear-gradient(80deg, #970e03 0%, #083c5e 100%);
  border-image-slice: 1;
}

.header.active.header--not-home .nav__links,
.header.active.header--not-home .nav__links::before,
.header.active .nav__links,
.header.header--fixed.active .nav__links::before,
.header.active .nav__links::before {
  color: white;
}

.header.active .nav__links--special {
  border: 3px solid transparent;
  border-image: linear-gradient(80deg, #970e03 0%, #083c5e 100%);
  border-image-slice: 1;
}

@media only screen and (min-width: 1440px) {
  .header.header--fixed {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1105px) {
  .header {
    justify-content: space-between;
  }

  .logo {
    z-index: 10;
  }
}

@media only screen and (max-width: 540px) {
  .header {
    padding: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  .header {
    padding: 0.5rem;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  .header.header--fixed {
    height: 60px;
  }

  .header .nav__links {
    font-size: 1rem;
  }
}
