.footer {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

.footer .logo__image {
  width: 160px;
}

.footer__link-list {
  width: 80%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link-list a {
  color: #444;
  font-size: 1.4vw;
}

.footer__copyright {
  font-size: 1.5vw;
  margin-block: 1rem;
}

.footer .btn {
  border: none;
}

.btn-pulse-cont {
  display: inline-block;
  height: 60px;
  position: fixed;
  top: 80%;
  bottom: 10%;
  right: 3%;
}

.btn--pulse-up {
  width: 60px;
  height: 50px;
  background: linear-gradient(80deg, #970e03 0%, #083c5e 100%);
  background: #083c5e;

  cursor: pointer;
  border-radius: 50%;
  color: white;
  z-index: 99;
  position: relative;
}

.btn--pulse-up .btn-icon-up {
  font-size: 1.5rem;
}

.btn--pulse-up:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 50%;
  background: #083c5e37;
  background: linear-gradient(90deg, #970d0375 0%, #083c5e73 100%);
  z-index: -1;
  animation: pulse 1s linear infinite;
}

@media only screen and (max-width: 768px) {
  .footer__link-list a {
    font-size: 1.8vh;
  }

  .footer__copyright {
    font-size: 1.6vh;
    text-align: left;
  }

  .btn--backto-top {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .footer__link-list {
    flex-direction: column;
    margin-block: 2rem;
    gap: 2rem;
    height: 100%;
  }

  .footer__link-list a {
    font-size: 2vh;
  }

  .btn--backto-top {
    width: auto;
    margin: 0 0 0 auto;
    font-size: 1.5vh;
    text-align: right;
  }
}

@media only screen and (max-width: 300px) {
  .footer__p-mark img {
    max-width: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
}
