.intro__card-cont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;
}

.intro__card {
  text-align: center;
}

.intro__card-count {
  width: 15%;
  margin: 0 auto;
  padding: 0.2rem 0;
  background: #083c5e;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.intro__img-wrap {
  height: 150px;
}

.intro__img-wrap img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__card h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.intro__card-desc {
  color: #444;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .intro__card-cont {
    padding: 1rem 0rem;
  }
  .intro__img-wrap {
    height: 220px;
  }

  .intro__card-cont {
    width: 100%;
    flex-direction: column;
  }

  .intro__card-count {
    width: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .intro__card-cont {
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .intro__card-count {
    width: 15%;
    margin-top: 1rem;
  }
}
